ul{width:300px;height:40px;border:#888 solid 1px;
	border-radius: 5px;padding:0px;margin-top:0px;}
ul li{list-style: none; float:left;width:90px;height:40px;
	text-align: center;font-size:18px;line-height: 40px;margin-left:5px;
	border-left:dashed;}
ul li.active{border:none;margin-left:0px;}
.container{position:relative;border:#888 solid 1px;
	width:302px;height:200px;padding:0px;border-top:none;}
.container > div{width:300px;height:200px;
	position:absolute;margin-top:0px;top:40px;display: none;}
.container > div.active{display: block;}
